nav {
    overflow: hidden;
}

nav>div {
    text-align: center;
    float: left;
    width: 20%;
    height: 45px;
    line-height: 45px;
}

.icon:hover {
    color: red
}



.iconHover {
    margin-left: 15px;
    font-family: fantasy;
    font-size: 20px;
}

.iconHidden {
    position: fixed;
    margin-left: 15px;
    width: 40px;
}